.jumbotron {
    background-color: #fff;
    margin-bottom: 0;
}

@media (min-width: 576px) {
    .jumbotron {
        padding: 1rem 1rem;
    }
}

.table th, .table td {
    vertical-align: middle;
}

tr .btn{
    margin: 0 2px;
}

tr{
    text-align: center;
}

tr td:last-child {
    white-space: nowrap;
}

#btnDodajDjelatnika {
    margin-bottom: 2rem;
}

.table-izvjestaj tr:last-child {
    font-weight: bold;
}

.izvjestaj-klijent{
    width: 600px;
    margin: 0 auto;
}

#izvjestaj-klijenta-content {
    width: 700px;
}

.izvoz-div {
    float: right;
}

.form-djelatnik-btns{
    float:right;
}

.form-tim, .form-projekt, .form-klijent{
    width:500px;
    margin: 0 auto;
}

#klijenti-content{
    width: 800px;
}

#timovi-content {
    width: 900px;
}

#izvjestaj-tima-content{
    width: 800px;
}

